sync_snapshot.json
complement
.idea
.bin
.DS_Store
# Homerunner can end up in various places
/homerunner
/cmd/homerunner/homerunner
# top-level build artifacts
/*.test
# For direnv users
/.envrc
.env
.direnv/

# devenv users
.devenv/

# other top-level / misc crap
/*.json
/*.jsonl
*.diff
*.patch
*.log
